html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
    font-family: 'Futura PT',sans-serif;
	margin: 0;
	padding: 0;
	content: '';
	background-image: url("../images/bg-body.png");
	background-repeat: no-repeat;
	background-position: center;

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
